@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
  font-family: 'sf_burlington_scriptbold';
  src: url("./fonts/SF_Burlington_Script_Bold-webfont.woff") format('woff');

  font-weight: normal;
  font-style: normal;
}


:root {
  --background-color: #3aafa9;
  --header-color: #17242a;
  --container-color: #2b7a77;
  --primary-color: #def2f1;
  --secondary-color: #eedac1;
  --alt-color: #13f5f5;

}

/* -------------------------------------------------------GENERAL CSS--------------------------------------------------------------- */
body {
  margin: 0 auto;
  background: linear-gradient(110deg, var(--background-color)40%, var(--secondary-color)100%);
  font-family: 'Josefin Sans', sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.09em;
  font-size: 1.1rem;
  line-height: 1.5;
}

strong {
  color: #fff;
}


.button {
  margin-top: 20px;
  padding: 10px 15px;
  color: var(--primary-color);
  background: var(--header-color);
  cursor: pointer;
  transition: box-shadow 0.5s ease, color 0.5s ease;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: var(--alt-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn {
  border-radius: 30px;
  border: none;
  line-height: 1.5;
}

.icon {
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1.4rem;
}



.header {
  border-bottom: 10px solid rgb(0, 0, 0);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 20px;
}

/* -------------------------------------------------------NAVBAR--------------------------------------------------------------- */
.hamburger {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #222525;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: var(--background-color);
}

.navigationMenu {
  margin-left: auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  z-index: 0;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;

}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;

}

.navbar ul li a:hover {
  background-color: #333;
  color: var(--secondary-color);
}

/* NAVBAR COLLAPSE ANIMATION */
@keyframes navbarExpanded {
  from {
    max-height: 0;
    overflow: hidden;
  }

  to {
    max-height: 500px;
    overflow: hidden;
  }
}

@keyframes navbarCollapsed {
  from {
    max-height: 500px;
    overflow: hidden;
  }

  to {
    max-height: 0;
    overflow: hidden;
  }
}

/* -------------------------------------------------------LOGO CSS--------------------------------------------------------------- */

.logo {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* --------------------------------------------------INTRO CSS (MAIN PICTURE)---------------------------------------------------------- */
.letter {

  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.letter:hover {
  color: var(--secondary-color);
  animation: rubberBandIn 0.2s forwards;
}

.letter:not(:hover) {
  animation: rubberBandOut 0.5s forwards;
}

/* Letters Animation (Rubber Band Effect) */
@keyframes rubberBandIn {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(1.10);
  }

  50% {
    transform: scale(1.15);
  }

  65% {
    transform: scale(1.20);
  }

  100% {
    transform: scale(1.25);
  }
}

@keyframes rubberBandOut {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}


.intro {
  margin: 200px 200px 300px 200px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background:
    linear-gradient(to right, black 8px, transparent 4px) 0 0,
    linear-gradient(to left, black 8px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 8px, transparent 4px) 0 0,
    linear-gradient(to top, black 8px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 50px 80px;
}

.intro p {
  font-size: 1.5rem;
}

.intro h1 {
  font-size: 2.5rem;
}

.imgcontainer {
  border: solid 10px var(--secondary-color);
  border-radius: 50%;
}

.imgcontainer img {
  width: 350px;
  border-radius: 50%;
}

.introTitle {
  list-style: none;
  padding: 0;
  max-width: 600px;
}

.introTitle a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 25px 0px;
  position: relative;
}

.introTitle a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.introTitle a:hover::after {
  width: 100%;
  left: 0;
}


/* -------------------------------------------------------ABOUT SECTION CSS--------------------------------------------------------------- */

/* TEST */

.separator {
  margin: 0 100px 0 100px;
}

.separator h1 {
  font-size: 3.5rem;
  font-family: sf_burlington_scriptbold;

  margin: 0 auto;
}

.separator h1::before {
  content: "";
  margin-right: 20px;

}

.container {
  display: flex;
  justify-content: center;
  margin: 40px 100px;
  line-height: 2rem;
  transition: all 0.13s ease-in;

}

.aboutsection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 60vh;
  justify-content: center;
}


.aboutsection1 img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
}

.aboutsection2 {
  padding: 0 0px 0 50px;
}

.aboutsection2 p {
  margin-bottom: 30px;
}

.aboutsection2 p::before {
  content: "→   ";
  font-size: 1.5;
  font-weight: bolder;
}

.aboutsection2 button {
  margin: 0 30px auto 0;
}

.btnContainer {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}

/* ------------------------------------------------------- TIMELINE BUTTONS CSS --------------------------------------------------------------- */
.timeline {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backface-visibility: hidden;
}

.timelinebtn {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  background: var(--header-color);
  border: none;
  padding: 10px 30px;
  transform: skewX(-40deg);
  cursor: pointer;
  transition: all 0.3s ease;
}

.timelinebtn:hover {
  color: var(--alt-color);

}

.timelinebtn:hover {
  color: var(--alt-color);
  transform: skewX(0deg);
}

.timelinebtn:hover p {
  color: var(--alt-color);
  transform: skewX(0deg);
}

.timelinebtn.active {
  color: var(--alt-color);
  transform: skewX(0deg);
}

.timelinebtn.active p {
  color: var(--alt-color);
  transform: skewX(0deg);
}

.timelinebtn p {
  margin: 0 auto;
  transform: skewX(40deg);
}

/* CLICKING TIMELINE BUTTONS FADE ANIMATION*/
.fadeIn {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 300ms ease-out;
}


/* -------------------------------------------------------CAROUSEL CSS--------------------------------------------------------------- */

.carousel {
  position: relative;
  width:90%;
  margin: 100px auto 100px;
  border: 10px solid black;
  border-radius: 10px;
}

.carouselInner {
  height: 540px;

}

.carouselItem {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease;

}

.carouselItem.active {
  opacity: 1;
}

.carouselImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.carouselCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carouselCaption h5 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0px 12px;
}

.carouselCaption p {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 12px;
}

.carouselCaption a {
  font-size: 16px;
  margin-right: 20px;
}

.carouselItem.active .carouselCaption {
  opacity: 1;
}

.carouselControlPrev,
.carouselControlNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.carouselControlPrev {
  left: 10px;
}

.carouselControlNext {
  right: 10px;
}

/* ------------------------------------------------------- MEDIA QUERY --------------------------------------------------------------- */



/* -----------------------------------------------EXTRA SMALL DEVICES(PHONES)--------------------------------------------------------- */

@media only screen and (max-width: 575px) {

  .hamburger {
    display: block;
  }

  .navbar ul {
    display: none;
    position: absolute;
    top: 110px;
    right: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navbar ul li {
    text-align: center;
  }

  .navigationMenu li a {
    padding: 1.5rem;
  }


  .navigationMenu.expanded ul {
    animation: navbarExpanded .5s ease-in-out forwards;
    display: block;
  }

  .navigationMenu.collapsed ul {
    animation: navbarCollapsed .5s ease-in-out forwards;
    display: block;
  }




  /* LOGO */

  .intro {
    display: flex;
    flex-direction: column;
    margin: 100px 20px 300px 20px;
    padding: 30px 0;
    text-align: center;
    background-size: 50px 30px;
  }


  .intro p {
    font-size: 1.2rem;
  }

  .intro h1 {
    font-size: 1.5rem;
  }


  .imgcontainer {
    order: -1;
  }

  .imgcontainer img {
    width: 300px;
  }

  /* ABOUT CSS */

  .separator {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .separator h1::before {
    margin-right: 20px;

  }

  .container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

  }

  .iconWrapper {
    display: inline-block;
    margin-top: 20px;

  }

  .iconWrapper a:first-child {
    margin-right: 30px;
  }


  .aboutsection1 {
    margin: 0 auto;
  }

  .aboutsection2 {
    padding: 0 20px;
    font-size: .9rem;
  }

  .aboutsection2 h1 {
    text-align: center;
    font-size: 1.2rem;
  }


  .btnContainer {
    justify-content: space-between;
  }


  .timeline {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .timelinebtn {
    margin: 10px;
  }

  .timelinebtn:nth-child(1),
  .timelinebtn:nth-child(4) {
    width: 100%;
  }

  .timelinebtn:nth-child(2),
  .timelinebtn:nth-child(3) {
    flex-basis: calc(50% - 20px);
  }

  /* CAROUSEL CSS */
  .carousel {
    width: 100%;
    text-align: center;
    border: none;
  }

  .carouselImage {
    position: static!important;
    width: 100%;
    height: 100%;
    object-fit:fit;

  }

  .carouselCaption p {
    font-size: .8rem;
  }

  .carouselCaption a {
    margin-left: 10px;
  }

}


/* -----------------------------------------------SMALL DEVICES(TABLETS)--------------------------------------------------------- */
@media only screen and (min-width: 576px) and (max-width: 767px) {

  .hamburger {
    display: block;
  }

  .navbar ul {
    display: none;
    position: absolute;
    top: 110px;
    right: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navbar ul li {
    text-align: center;
  }

  .navigationMenu li a {
    padding: 1.5rem;
  }


  .navigationMenu.expanded ul {
    animation: navbarExpanded .5s ease-in-out forwards;
    display: block;
  }

  .navigationMenu.collapsed ul {
    animation: navbarCollapsed .5s ease-in-out forwards;
    display: block;
  }


  /* LOGO */

  .intro {
    display: flex;
    flex-direction: column;
    margin: 100px 40px 300px 40px;
    padding: 30px 0;
    text-align: center;
  }


  .introTitle a {
    font-size: .9rem;
  }

  .imgcontainer {
    order: -1;
  }

  .imgcontainer img {
    width: 300px;
  }


  /* ABOUT CSS */
  .separator {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .separator h1::before {
    margin-right: 85px;

  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .iconWrapper {
    display: inline-block;
    margin-top: 20px;

  }

  .iconWrapper a:first-child {
    margin-right: 30px;
  }


  .aboutsection2 {
    margin: 0 40px;
    padding: 0;
  }

  .aboutsection2 h1 {
    text-align: center;
  }

  .btnContainer {
    justify-content: space-between;
  }

  .timeline {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .timelinebtn {
    margin: 10px;
  }

  .timelinebtn:nth-child(1),
  .timelinebtn:nth-child(4) {
    width: 100%;
  }

  .timelinebtn:nth-child(2),
  .timelinebtn:nth-child(3) {
    flex-basis: calc(50% - 20px);
  }

  .timelinebtn p {
    width: 100%;
  }

  /* CAROUSEL CSS */
  .carousel {
    width: 95%;
    text-align: center;
  }
  .carouselImage {
    position: static!important;
    width: 100%;
    height: 100%;
    object-fit:fit;

  }

  .carouselCaption p {
    font-size: .8rem;
  }

  .carouselCaption a {
    margin-left: 10px;
  }

}

/* -----------------------------------------------MEDIUM DEVICES(LAPTOPS, DESKTOPS)--------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {


  .navbar {
    font-size: .6rem;
  }

  /* Styles for medium devices */
  .intro {
    margin: 100px 10px 300px 10px;
    padding: 0 30px 0 30px;
  }


  .imgcontainer img {
    width: 270px;
  }


  /* ABOUT CSS */
  .separator {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .separator h1::before {
    margin-right: 85px;

  }

  .container {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconWrapper {
    display: inline-block;
    margin-top: 20px;

  }

  .iconWrapper a:first-child {
    margin-right: 30px;
  }


  .carousel {
    width: 97%;
  }

}

/* -----------------------------------------------LARGE DEVICES(LAPTOPS, DESKTOPS)--------------------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1199px) {





  .intro {
    margin: 100px 20px 300px 20px;
    padding: 0 20px 0 20px;
  }


  .introTitle {
    font-size: 1rem;
  }

  .separator {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .separator h1::before {
    margin-right: 85px;

  }

  /* ABOUT CSS */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconWrapper {
    display: inline-block;
    margin-top: 20px;

  }

  .iconWrapper a:first-child {
    margin-right: 30px;
  }

  .aboutsection2 {
    padding: 0 20px;
  }



  .carousel {
    width: 97%;
  }


}

/* -----------------------------------------------EXTRA LARGE DEVICES(LARGE LAPTOPS, LARGE SCREENS)--------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
  /* Styles for extra large devices */
}
